:root {
  --bg: #0f1113;
  --panel: #0b0c0d;
  --muted: #97a0a8;
  --accent: #1f2933;
  --border: rgba(255, 255, 255, 0.04);
  --active: #2b8be6;
}

* {
  box-sizing: border-box
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: var(--bg);
  font-family: "Poppins", sans-serif;
  ;
}

.app-root {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  height: 100%;
  color: #e6eef6;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.sidebar-top {
  margin-bottom: 18px
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 8px
}

.logo {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #0f1720 url('src/assets/LDLogo.jpg') center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name {
  color: #dfe7ee;
  font-weight: 500;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  color: var(--muted);
  text-decoration: none;
  transition: all 150ms;
}

.nav-item:hover {
  background: var(--accent);
  color: white
}

.nav-icon {
  width: 28px;
  display: inline-flex;
  justify-content: center
}


.sidebar-bottom {
  margin-top: auto;
  padding: 8px;
  display: flex;
  justify-content: center
}

.theme-btn {
  background: transparent;
  border: 1px solid var(--border);
  padding: 8px 10px;
  border-radius: 8px;
  color: var(--muted)
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #f3f6f8;
}

.page-header {
  padding: 28px 34px 0 34px;
}

.page-header h1 {
  margin: 0;
  font-size: 22px
}

.page-body {
  padding: 18px 34px;
  flex: 1;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.02);
}

.page-container {
  border-radius: 8px;
  min-height: 420px;
  padding: 24px;
  border: 1px solid var(--border);
  color: var(--muted);
  background-color: #0C1017 !important;
}

.page-container h2 {
  margin: 0 0 10px 0;
  color: #eef5fb
}

.sidebar {
  background-color: #0C1017 !important;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: #1f2933;
  color: var(--muted);
  font-weight: 600;
  cursor: pointer;
  transition: all 150ms;
  display: flex;
  justify-content: center;
}

.logout-btn:hover {
  background-color: #0a3f70a4;
  color: white;
}